<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdventureXplore</title>
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">Adventure</a>
            <div class="nav-links">
                <ul>
                    <li class="active"><a href="../index.html">Home</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                    <li><a href="../views/galeria.html">Galeria</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </div>
            <img src="../assets/images/03_menu-btn.png" alt="menu hamburger" class="menu-hamburger">
        </nav>

    </header>
    <main>
        <section>
        <div class="centro">
            <h2>Unleash Your Adventure</h2>
            <p>
                Embárcate en una aventura épica y desata tu espíritu intrépido en un mundo lleno de emociones y descubrimientos 
            </p>
        </div>
            <div class="box-galery">
                <div class="box"><img src="../assets/images/galeria/01_paisaje.jpg" alt="paisaje01" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/02_paisaje.jpg" alt="paisaje02" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/03_paisaje.jpg" alt="paisaje03" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/04_paisaje.jpg" alt="paisaje04" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/05_paisaje.jpg" alt="paisaje05" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/06_paisaje.jpg" alt="paisaje06" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/07_paisaje.jpg" alt="paisaje07" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/08_paisaje.jpg" alt="paisaje08" class="paisaje"></div>
                <div class="box"><img src="../assets/images/galeria/09_paisaje.jpg" alt="paisaje09" class="paisaje"></div>
            </div>
        </section>
    </main>
    <footer>
        <div class="column">
            <h3>Información</h3>
            <ul>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Política de privacidad</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Enlaces útiles</h3>
            <ul>
                <li><a href="./views/contacto.html">Contacto</a></li>
                <li><a href="./views/galeria.html">Galeria</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Contacto</h3>
            <ul>
                <li><a href="mailto:info@example.com">info@example.com</a></li>
                <li><a href="tel:+123456789">+123456789</a></li>
                <li><a href="#">Redes sociales</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Creado por JWAE &copy; 2023</p>
        </div>
    </footer>
    <script src="../script/galeria_Efectos.js"></script>
    <script src="../script/index.js"></script>
</body>

</html>